@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Traversal Misafir Kayıt Ekranı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/register/fonts/linearicons/style.css">
    <link rel="stylesheet" href="~/register/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <img src="~/register/images/image-1.png" alt="" class="image-1">
            <form action="">
                <h3>Yeni Hesap Oluşturun</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Adınız">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Soyadınız">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="text" class="form-control" placeholder="Mail Adresiniz">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="text" class="form-control" placeholder="Telefon Numbarnız">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Şifreniz">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Şifre Tekrar">
                </div>
                <button href="/Login/SignIn/">
                    <span>Kayıt Ol</span>
                </button>
                <a href="/Login/SignIn/">
                    <span>Zaten Hesabınız Var Mı ? Giriş Yapın.</span>
                </a>
            </form>
            <img src="~/register/images/image-2.png" alt="" class="image-2">
        </div>

    </div>

    <script src="~/register/js/jquery-3.3.1.min.js"></script>
    <script src="~/register/js/main.js"></script>
</body>
</html>